.card.body {
    background-color: #f9f9f9;
    border: 10px solid #ccc !important;
    border-radius: 8px;
  }
  
  .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
  }
  
  .btn-secondary {
    background-color: #6c757d;
    border-color: #6c757d;
  }
  
  .btn-primary:hover, .btn-primary:focus {
    background-color: #0056b3;
    border-color: #0056b3;
  }
  
  .btn-secondary:hover, .btn-secondary:focus {
    background-color: #545b62;
    border-color: #545b62;
  }