.App {
  text-align: center;
}

.App-logo { 
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.navbar {
  background-color: #598b4b;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* .border {
  border: 1px solid #ccc;
  padding: 10px;
  transition: background-color 0.3s;
  background-color: #e7f5ff;
}

.border.hovered {
  background-color: #a5d8ff;
} */


.company-logo {
  width: 75px;
  height: 75px;
  background-color: #1971c2;
  border-radius: 50%;
  border: 2px solid black;
  margin-right: 15px;
  flex-shrink: 0; 
}


.job-card {
  border: 2px solid black; 
  border-radius: 10px;
  padding: 25px;
  margin: 0 auto 20px;
  max-width: 600px; 
  transition: background-color 0.3s;
  background-color: #e7f5ff;
}

.job-card:hover {
  background-color: #a5d8ff;
}
