.App {
  text-align: center;
}

.navbar {
  margin-bottom: 3vmin;
  background-color: black;
  /* background: rgb(235,251,238);
  background: linear-gradient(0deg, rgba(235,251,238,1) 0%, rgba(154,207,249,1) 92%); */
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

/* .App-link {
  color: #61dafb;
} */

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

/* .profile-body {
  background-color: #99e9f2;
} */

.card-text-center {
  background-color: #ebfbee;
}

/* .profile-list {
  padding: 10px; 
  margin-bottom: 10px;
} */

.about-section {
  border: 2px solid #007bff;
  border-radius: 20px;
  padding: 20px;
  margin: 0 auto 30px;
  max-width: 700px;
  height: auto;
  background-color: #f8f9fa;
  box-shadow: 0 0 20px rgba(0, 123, 255, 0.2);
}

.about-section h1 {
  font-size: 30px;
}

.about-section h2 {
  color: #007bff;
  font-size: 24px;
  margin-bottom: 15px;
}

.about-section p {
  color: #333;
  font-size: 16px;
  line-height: 1.6;
}

.features-section {
  border: 2px solid #28a745;
  border-radius: 20px;
  padding: 20px;
  margin: 0 auto 30px;
  max-width: 700px;
  height: auto;
  background-color: #f8f9fa;
  box-shadow: 0 0 20px rgba(40, 167, 69, 0.2);
}

.features-section h2 {
  color: #007bff;
  font-size: 24px;
  margin-bottom: 15px;
}

.features-section p {
  color: #333;
  font-size: 16px;
  line-height: 1.6;
}

.tech-stack-section{
  margin-bottom: 20px;
  margin-right: 5px;
}

.footer-heading {
  color: rgb(0, 166, 255)
}

@media only screen and (max-width: 600px) {
  .about-section,
  .tech-stack-section,
  .features-section {
    margin-left: auto;
    margin-right: auto;
    width: 300px !important;
  }
}

@media only screen and (max-width: 600px) {
  .about-us-container {
    text-align: center; /* Center-align the content */
  }

  .about-section,
  .features-section {
    margin-left: auto;
    margin-right: auto;
    width: 335px !important;
  }

  .tech-stack-section {
    width: 260px !important;
  }

  .tech-icons {
    display: inline-block;
    margin: 0; /* Reset margin */
  }

  .tech-icons > * {
    margin: 5px; /* Adjust margin as needed */
  }
}





