.about-us-container {
  max-width: 700px;
  margin: auto;
  padding: 20px;
}

.about-section,
.tech-stack-section,
.features-section {
  margin-bottom: 20px;
}

.tech-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Responsive Styles */
@media only screen and (max-width: 600px) {
  .about-us-container {
    padding: 10px;
  }

  .tech-icons {
    flex-wrap: wrap;
  }

  .tech-icons > * {
    margin-right: 10px; 
    margin-bottom: 10px;
  }
}