.title-style {
    text-decoration: none !important;
    color: black !important;
    font-size: 10vmin !important; 
    transition: transform 0.3s !important; 
}

.links {
    font-size: 4vmin !important;
    display: flex !important;
    align-items: center !important;
    margin-bottom: 2vmin !important;
}

.link-style,
.title-style {
    font-family: "Protest Strike", sans-serif !important;
    font-weight: 400 !important;
    font-style: normal !important;
    transition: transform 0.3s !important; 
}

.link-style:hover {
    transform: scale(1.1) !important;
}