.custom-card {
  border: 2px solid black;
  border-radius: 10px;
  padding: 15px;
  margin: 0 auto 20px;
  max-width: 330px; /* Adjust width as needed */
  height: auto;
  background-color: #a2d4f6;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1);
}

.custom-card-content {
  text-align: center; /* Center-align the content */
}

.custom-card-content h1 {
  font-size: 24px; /* Adjust font size as needed */
}

.custom-card-content p {
  font-size: 16px; /* Adjust font size as needed */
  line-height: 1.5; /* Adjust line height as needed */
}
.download {
  color: white !important;
  background-color: #007bff !important;
  border-color: white;
  text-decoration: none;
  font-weight: bold;
}

.btn-secondary {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}

.btn:hover,
.btn:focus {
  text-decoration: none;
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: #0056b3;
  border-color: #0056b3;
}

.btn-secondary:hover,
.btn-secondary:focus {
  background-color: #545b62;
  border-color: #545b62;
}

.centered-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-template {
  display: flex;
  flex-direction: column;
}

.custom-paragraph {
  border: 2px solid black !important;
  border-radius: 10px !important;
  margin: auto !important;
  padding: 15px !important;
  margin-bottom: 5vmin !important;
  max-width: 500px !important;
  height: 670px !important;
  background-color: #e7f5ff;
}

.download {
  background-color: white;
  padding: 10px;
  border: solid 3px;
}

.row {
  display: flex !important;
  flex-wrap: wrap !important;
}

.template-title {
  font-size: 24px;
  font-weight: bold;
  color: #333; /* You can adjust the color */
  text-align: center;
  margin-bottom: 20px;
  margin-top: 10px;
  text-transform: uppercase;
}

.main-title {
  font-size: 30px;
  font-weight: bold;
  color: #007bff; /* You can adjust the color */
  text-align: center;
  margin-bottom: 30px;
  text-transform: uppercase;
  letter-spacing: 0.4px;
  position: relative;
  background-color: whitesmoke;
}

.tips-title {
  font-size: 30px;
  font-weight: bold;
  color: #007bff; /* You can adjust the color */
  text-align: center;
  margin-bottom: 30px;
  text-transform: uppercase;
  letter-spacing: 0.4px;
  position: relative;
  background-color: whitesmoke;
}