.custom-card {
  border: 2px solid black;
  border-radius: 10px;
  padding: 15px;
  margin: 0 auto 20px;
  max-width: 600px;
  height: 250px;
  background-color: #a2d4f6;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.btn-secondary {
  background-color: #6c757d;
  border-color: #6c757d;
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: #0056b3;
  border-color: #0056b3;
}

.btn-secondary:hover,
.btn-secondary:focus {
  background-color: #545b62;
  border-color: #545b62;
}

.centered-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-template {
  display: flex;
  flex-direction: column;
}

.custom-paragraph {
  border: 2px solid black !important;
  border-radius: 10px !important;
  margin: auto !important;
  padding: 15px !important;
  margin-bottom: 5vmin !important;
  max-width: 500px !important;
  height: 700px !important;
  background-color: #e7f5ff;
}

.download {
  background-color: white;
  padding: 10px;
  border: solid 3px;
}

.row {
  display: flex !important;
  flex-wrap: wrap !important;
}