.container-mt-5 {
    border: 2px solid black; 
    border-radius: 10px;
    margin: auto;
    padding: 25px;
    margin-bottom: 5vmin;
    max-width: 600px; 
    background-color: #e7f5ff; 
  }

  @media screen and (max-width: 767px) {
    .container-mt-5 {
        font-size: 14px; /* Adjust the font size as needed */
        margin: 20px; /* Adjust the margin as needed */
    }
}

