.container {
    width: 100% !important;
    max-width: 800px !important; 
    margin: 0 auto !important;
  }
  
  .row {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important; 
    margin-bottom: 20px !important;
  }
  
  .filter {
    margin-right: 10px !important; 
    width: 150px !important;
  }
  
  input[type="text"],
  select {
    width: 100% !important; 
    max-width: 150px !important;
    text-align: center !important; 
  }

  button.btn-primary {
    margin-right: 10px;
    margin-bottom: 20px;
    background-color: #893bd7;
  }
  
  .back-to-top.btn-primary {
    background-color: #893bd7;
    margin-bottom: 20px;
  }
