
.job-card-user-profile {
  border: 2px solid black; 
  box-sizing: border-box !important;
  border-radius: 10px;
  margin: 10px auto !important;
  padding: 20px;
  margin-bottom: 5vmin;
  max-width: 600px; 
  align-items: center !important;
  background-color: #c5c5c5; 
  height: 150px;
  position: relative; 
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1) !important; 
  transition: 0.5s ease !important;
}

.job-applied {
  background-color: #33b7e3 !important; 
}

.job-interviewing {
  background-color: orange !important; 
}

.job-hired {
  background-color: #40c057 !important; 
}

  
  .company-logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 20px; 
  }

  .mobile-title {
    font-weight: bold;
  }

  @media only screen and (max-width: 600px) {
    .job-card-user-profile {
      height: 130px !important;
    }
    .mobile-title {
      font-size: 14px !important;
      font-weight: bold;
    }

    .mobile-company {
        font-size: 14px !important;
    }

    .mobile-salary {
        font-size: 14px !important;
    }

    .mobile-location {
        font-size: 14px !important;
    }
  
    .company-logo {
      width: 40px;
      height: 40px;
      font-size: 16px; 
    }
  
    .toggle-button,
    .delete-button {
      font-size: 12px !important; 
    }
    
  }
    .custom-select {
    width: 150px !important; 
    margin-right: 10px;
  }

  
