/* UserProfile.css */

/* Adjust font sizes for mobile responsiveness */
.job-card-user-profile {
    font-size: 16px;
  }
  
  .company-logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 20px; /* Adjust logo size */
  }
  
  .toggle-button,
  .delete-button {
    font-size: 16px; /* Adjust button font size */
  }
  
  /* Media query for smaller devices */
  @media only screen and (max-width: 600px) {
    .mobile-title {
      font-size: 14px !important;
    }

    .mobile-company {
        font-size: 14px !important;
    }

    .mobile-salary {
        font-size: 14px !important;
    }

    .mobile-location {
        font-size: 14px !important;
    }
  
    .company-logo {
      width: 40px;
      height: 40px;
      font-size: 16px; 
    }
  
    .toggle-button,
    .delete-button {
      font-size: 12px !important; 
    }
    
  }
    .custom-select {
    width: 150px !important; 
    margin-right: 10px;
  }

  
